<h1>These are your polls</h1>

<% @polls.each do |poll| %>
  <div class="poll-thumb">
    <%= link_to poll_path(id: poll.id) do %>
       <div id="poll-thumb-item-a" class="poll-thumb-item">
         <%= image_tag poll.poll_items.first.avatar_a.url, id: "item-a-thumb", class: "poll-thumb-image" %>
       </div>
       <div id="poll-thumb-item-a" class="poll-thumb-item">
         <%= image_tag poll.poll_items.last.avatar_b.url, id: "item-b-thumb", class: "poll-thumb-image" %>
       </div>
	<% end %>
  </div>
<% end %>
