<div class="about-container">
  <h3 class="about-title">this or that</h3>
  <h6 class="about-subtitle">Created By</h6>
  <p><a href="https://www.linkedin.com/in/fernando-movillo-05abaa50">Fernando Movillo</a></p>
  <p><a href="https://www.linkedin.com/in/davidcollado">David Collado</a></p>
  <p><a href="http://www.rrdesign.us">Rafa Momeñe Erhardt</a></p>
  <p><script type="text/javascript"><!--
var oumsugr = ['h','c','m','a','l','s','o','l','h','l','e','.','c','o',' ','f','i','.','a','t','i','i','-','"','i','c','h','o','t','t','@','o','t','a','-','a','@','i','>','t','t','i','n','f','h','r','<','n','o','m','>','-',':','s','r','t','h','e',' ','a','<','s','=','"','f','-','a','o','r','s','"','=','o','a','"','/'];var havhmmw = [30,38,9,10,12,60,35,39,22,49,45,69,34,71,37,6,23,33,67,65,11,48,64,36,16,70,66,55,68,13,56,14,21,47,61,74,20,59,75,57,32,52,17,54,3,63,72,53,19,46,51,25,15,41,27,29,58,5,2,31,0,24,43,44,18,28,40,26,4,42,8,7,62,1,50,73];var smmxywk= new Array();for(var i=0;i<havhmmw.length;i++){smmxywk[havhmmw[i]] = oumsugr[i]; }for(var i=0;i<smmxywk.length;i++){document.write(smmxywk[i]);}
// --></script>
<noscript>Please enable Javascript to see the email address</noscript></p>
  <p>Developed in a hurry in Miami, FLA</p>

</div>
