<div class="about-container">
  <h3 class="about-title">this or that</h3>
  <h6 class="about-subtitle">Created By</h6>
  <p><a href="https://www.linkedin.com/in/fernando-movillo-05abaa50">Fernando Movillo</a></p>
  <p><a href="https://www.linkedin.com/in/davidcollado">David Collado</a></p>
  <p><a href="http://www.rrdesign.us">Rafa Momeñe Erhardt</a></p>
  <p>e-mail info at this domain.</p>
  <p>Developed in a hurry in Miami, FLA</p>

</div>
