/* this or that */
@mixin browser($browsers: Mozilla) {
  @each $browser in $browsers {
    html[data-browser*="#{$browser}"] & {
      @content;
    }
  }
}

* {
	box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

html, body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	background: #172942;
  @include browser("iPhone") {
      margin-top: -5vh;
  }
  @include browser("CriOS") {
      margin-top: 0;
  }
}

a {
  color: #fff;
  text-decoration: none; 
}

img {
	border: 0;
}

.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-align-content: space-around;
	align-content: space-around;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 0;
	min-height: 100%;
	max-width: 100%;
  height: 100vh;
}

form.new-poll {
/*	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-content: space-around;
	align-content: space-around;
	-webkit-align-items: center;
	align-items: center;*/
	width: 100%;
}

.poll-middle {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-order: 2;
	order: 2;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin: -2.3rem auto;	
/*	height: 14em;*/
	z-index: 15;
}

.poll-middle-text {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	padding: 0;
	font-size: 3em;
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	transition: all 0.5s ease;
	z-index: 1;
}

#middle-text-a.hide, #middle-text-b.hide, #reset-button-a.hide, #reset-button-b.hide{
	font-size: 0.2em;
	margin: 0;
	bottom: initial;
	top: initial;
}

#middle-text-a {
  margin: 0 auto;
/*	-webkit-order: 1;
	order: 1;*/
	bottom: 4rem;
	align-self: center;
	color: #f9c835;

}

#middle-text-b {
  margin: 0 auto;
/*	-webkit-order: 3;
	order: 3;*/
	top: 4rem;
	align-self: center;
	color: #1d7bf2;
}

.btn-blue {
	border: 1px solid #003471;
	background: #1e5aae;
}

.btn-yellow {
	border: 1px solid #fff200;
	background: #f5d109;	
}

.reset-button {
	position: absolute;
	display: block;
	left: 50%;
	padding: 0.1em 0 0 0.1em;;
  width: 2.3em;
  height: 2.3em;
	color: white;
	border-radius: 50%;
	text-decoration: none;
	text-align: center;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
	transform: translateX(-50%);
	transition: all 0.5s ease;
}

#reset-button-a {
	bottom: 7rem;
	background: #1d7bf2;
}

#reset-button-b {
	top: 7rem;
	background: #f9c835;
}


.submit-btn {
	position: relative;
  display: block;
	margin: 0 auto;
  padding: 0 0 0.8rem;
	-webkit-order: 2;
	order: 2;
	align-self: center;
	width: 4rem;
  height: 4rem;
  border: 0;
  border-radius: 50%;
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  line-height: 3rem;
  color: #444;
  background: #fff;
  z-index: 10;
}

.submit-btn:after {
  position: absolute;
  top: 50%;
  left: 50%;      
  display: block;
	content: '';
	font-family: "FontAwesome";
	font-size: 1px;
	color: #fff;
  border-radius: 50%;
  height: 0%;
  width: 0%;
  margin: auto;
  background: #5cb85c;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.8s;
}

.submit-btn.ready {
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
	cursor: pointer;
}

.submit-btn.ready:after {
	content: "";
	height: 102%;
	width: 102%;
	font-size: 1em;
  line-height: 1.6em;
  text-align: center;
}

.submit-btn.ready:hover:after {
	background: #449d44;
}

.btn-vote {
  position: relative;
  margin: 0 auto;
  display: block;
  -webkit-order: 2;
  order: 2;
  align-self: center;
  width: 4rem;
  height: 4rem;
  border: 0;
  border-radius: 50%;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  line-height: 2rem;
  color: #444;
  background: #fff;
  z-index: 10;
}

.vote-text {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  @include browser("iPhone") {
    margin: 0 0 0 -1.7rem;
  }
}


.poll-item {
	position: relative;
	margin: 0 auto;
  max-width: 100%;
  height: 49vh;
  width: 49vh;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	z-index: 1;
  @include browser("iPhone") {
      height: 45vh;
      width: 45vh;
  }
  @include browser("CriOS") {
      height: 49vh;
      width: 49vh;
  }
}


.poll-inner {
	display: -webkit-flex;
	display: flex;
	margin: 0 auto;
	height: 100%;
	width: 80%;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-align-content: center;
	align-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	z-index: 9;
}

#poll-item-a {
	-webkit-order: 1;
	order: 1;
	background: #1d7bf2;
}

#poll-item-b {
	-webkit-order: 3;
	order: 3;
	background: #f9c835;
}

#poll-item-a .choose-image + label {
	-webkit-order: 3;
	order: 3;
}

#poll-item-b .choose-image + label {
	-webkit-order: 3;
	order: 3;
}

#poll-item-a .take-photo + label {
	margin-top: 0;
}

#poll-item-b .take-photo + label {
	margin-top: 0;
}

.choose-image + label, .take-photo + label {
	cursor: pointer;
	color: #fff;
}

.choose-image + label {
  display: block;
  margin: 0 auto;
  padding: 0.2em 0.4em;
	text-align:center;
	border-radius: 4px;
}

.take-photo + label {
	-webkit-order: 2;
	order: 2;
	align-self: center;
	display: block;
}

.choose-image, .take-photo {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* remember to add js for this for Firefox
		because FF doesn't do this focus.
 */
.choose-image:focus + label, .take-photo:focus + label {
	outline: 1px solid #003471;
	outline: -webkit-focus-ring-color auto 5px;
}


.poll-item input {
	max-width: 100%;
}

.poll-item-image {
	display: block;
	margin: 0 auto;
}

/* JS Toggles for Image Sizes */
.tall-image {
	max-width: 100%;
	height: auto;
}

.wide-image {
	height: 100%;
	width: auto;
}

.item-image-container {
	position: relative;
	height: 100%;
}


/* Vote Counters */
.vote-count {
	position: absolute;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  top: 60%;
	font-family: 'Baloo', sans-serif;
  font-size: 0.1em;
  line-height: 4em;
	color: #fff;
	opacity: 0;
	transition: .5s;
  z-index: 5;
}

.show-vote-count {
	top: 10%;
	font-size: 4em;
	opacity: 1;
}

#vote-count-a {
 color: #f9c835;
}

#vote-count-b {
	color: #1d7bf2;
}

.drop-opacity {
	opacity: 0.3;
}

/* The Menu */

.menu-container {
	position: absolute;
  width: 90%;
  max-width: 400px;
  height: 100vh;
  font-size: 1.15em;
  background: #0c1829;  
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);

  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  z-index: 20;
}

.show-menu {
	-webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.btn-menu {
  position: relative;
  display: block;
  left: 91%;
  top: 44%;
  padding: 0;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: none;
  border-radius: 50%;
  font-family: "FontAwesome";
  text-align: center;
  font-size: 2em;
  color: #fff;
  background: #0c3d7b;
  z-index: 25;
}

.menu-inner {
	margin: 0;
	padding:0;
	list-style: none;
}

.menu-title {
	margin: -1em 0 1em 0;
	padding: 0 1em;
	font-family: 'Pacifico';
	color: #b4cae4;
	font-size: 2em;
	font-weight: normal;
  @include browser("iPhone") {
    margin: 0em 0 1em 0;
  }
  @include browser("CriOS") {
    margin: -1em 0 1em 0;
  }
}

.menu-title a {
	color: #b4cae4;
	text-decoration: none;
}

.menu-inner li {
	padding: 0.8em 1.5em;
	color: #628ec5;
	text-transform: uppercase;
	font-weight: 600;
}

.menu-inner li a {
	color: #628ec5;
	text-decoration: none;
}

.menu-inner li a:hover, .menu-inner li a:active {
	color: #b4cae4;
}

/* Expand Image Button */

.expand-button{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #0c1829;
  position: fixed;
  cursor: pointer;
  box-shadow: 0px 2px 5px #0b131f;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 15;
}

#expand-button-a {
  top: 1em;
  left: 1em;
}

#expand-button-b {
  bottom: 1em;
  left: 1em;
}

.magnify {
  position: relative;
  display: block;
  margin: 0.5em auto 0;
  color: white;
  text-align: center;
  line-height: 1em;
  font-weight: 100;
}

.minify {
  position: relative;
  display: block;
  margin: 0.5em auto 0.5em;
  color: white;
  text-align: center;
  line-height: 1em;
  font-weight: 100;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

.expanded-image-container {
  padding: 1em;
  max-width: 100%;
  max-height: 100%;
}

.expand-button img {
  visibility: hidden;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 90vh;
  border-radius: 1em;
}

#expand-button-a.expand-button-show .magnify, #expand-button-b.expand-button-show .magnify {
  visibility: hidden;
}

#expand-button-a.expand-button-show, #expand-button-b.expand-button-show {
  width: 100%;
  height: 100%;
  left: initial;
  top: initial;
  right: initial;
  bottom: initial;
  border-radius: 0;
  z-index: 25;
}

#expand-button-a.expand-button-show img, #expand-button-b.expand-button-show img {
  visibility: visible;
}

/* Disable Rotation on mobile */
.rotation {
  display: none;
  margin: 5% auto 0;
  width: 50%;
  font-size: 3rem;
  color: #fff;
  padding: 0;
  text-align: center;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .container {display: none;}
  .menu-container {display: none;}
  .rotation {display: block;}
}

@media only screen and (min-width: 767px) and (orientation: landscape) {
  .container, form.new-poll {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: space-around;
  align-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  }

  .poll-item {
    height:49vh;
    width: 49vh;
  }

  .poll-middle {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 -10em;
  }

  #reset-button-a {
    margin: 0 0 0 -5em;
  }

  #reset-button-b {
    margin: 0 0 0 5em;
  }

  #middle-text-a {
    margin: 0 0 0 -2.2em;
  }

  #middle-text-b {
    margin: 0 0 0 2.2em;
  }
}


@media only screen and (min-width: 375px) {
  .poll-middle {
    margin: -2.8rem 0;
  }
  .fa-2x.fa-camera{
    font-size: 3em;
  }
  .poll-middle-text{
    font-size: 3em;
  }
  #middle-text-a{
    bottom: 5.2rem;
  }
  #middle-text-b{
    top: 5.2rem;
  }
  .submit-btn {
    padding: 0 0 0.8rem;
    height: 5rem;
    width: 5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .submit-btn.ready:after { 
    line-height: 2em;
  }

  .btn-vote {
    height: 5rem;
    width: 5rem;
    font-size: 2.5em;
    line-height: 2.5rem;
    text-align: left;
  }

  .vote-text {
    display: inline-block;
    padding: 0;
    @include browser("iPhone") {
      margin: 0 0 0 -1.6rem;
    }
  }

  #reset-button-a {
    bottom: 6rem;
  }

  #reset-button-b {
    top: 6rem;
  }
}


@media only screen and (min-width: 413px) {
  .poll-middle {
    margin: -3.5rem 0;
  }
  .fa-2x.fa-camera{
    font-size: 3em;
  }
  .poll-middle-text{
    font-size: 4em;
  }
  #middle-text-a{
    bottom: 6rem;
  }
  #middle-text-b{
    top: 6rem;
  }
  .submit-btn {
    padding: 0 0 0.8rem;
    height: 6rem;
    width: 6rem;
    font-size: 3rem;
    line-height: 3rem;
  }

  .submit-btn.ready:after { 
    line-height: 2em;
  }

  .btn-vote {
    height: 6rem;
    width: 6rem;
    font-size: 3em;
    line-height: 3rem;
    text-align: left;
  }

  .vote-text {
    display: inline-block;
    padding: 0;
    @include browser("iPhone") {
      margin: 0 0 0 -1.8rem;
    }
  }

  #reset-button-a {
    bottom: 6.5rem;
  }

  #reset-button-b {
    top: 6.5rem;
  }

}


/* For the menu button to stick to the menu */
@media only screen and (min-width : 470px) {
  .btn-menu {
    left: 368px;
  }
}

@media only screen and (min-width : 767px) and (orientation: landscape) {
  .container {
    margin: 0 auto;
    width: 700px;
  }
  .poll-item {
    width: 260px;
    height: 260px;
  }

  .fa-2x.fa-camera{
    font-size: 3em;
  }

  .poll-middle {
    margin: 0 -9.5rem;
  }

  .poll-middle-text{
    font-size: 3em;
  }

  #middle-text-a{
    bottom: 4rem;
  }

  #middle-text-b{
    top: 4rem;
  }

  .vote-text {
    padding: 0 0 0 0.3rem;
  }

  #reset-button-a {
    margin: 0;
    bottom: 9rem;
  }

  #reset-button-b {
    margin: 0;
    top: 9rem;
  }

  #middle-text-a {
    margin: 0 0 5rem 0;
  }

  #middle-text-b {
    margin: 5rem 0 0 0;
  }

  #expand-button-b {
    top: 1em;
    right: 1em;
    left: initial;
    bottom: initial;
  }
}

@media only screen and (min-width: 992px) and (orientation: landscape)  {
  .container {
    margin: 0 auto;
    width: 900px;
  }
  .poll-item {
    width: 320px;
    height: 320px;
  }

  .poll-middle {
    margin: 0 -12rem;
  }
  .fa-2x.fa-camera{
    font-size: 4em;
  }
  .poll-middle-text{
    font-size: 4em;
  }
  #middle-text-a{
    bottom: 6rem;
  }
  #middle-text-b{
    top: 6rem;
  }
  .submit-btn {
    padding: 0 0 1rem;
    height: 6rem;
    width: 6rem;
    font-size: 4rem;
    line-height: 4rem;
  }

  .submit-btn.ready:after {
    font-size: 1em;
    line-height: 1.6em;
  }

  .btn-vote {
    padding: 0 0 0 0.5rem;
    height: 6rem;
    width: 6rem;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .show-vote-count {
    font-size: 4.6em;
  }

  #reset-button-a {
    margin: 0;
    bottom: 10rem;
  }

  #reset-button-b {
    margin: 0;
    top: 10rem;
  }

}


@media only screen and (min-width: 1200px) and (orientation: landscape)  {
  .container {
    margin: 0 auto;
    width: 1100px;
  }
  .poll-item {
    width: 370px;
    height: 370px;
  }

  .poll-middle {
    margin: 0 -15rem;
  }
  .fa-2x.fa-camera{
    font-size: 4em;
  }
  .poll-middle-text{
    font-size: 4.5em;
  }
  #middle-text-a{
    bottom: 7rem;
  }
  #middle-text-b{
    top: 7rem;
  }
  .submit-btn {
    padding: 0 0 1rem;
    height: 6rem;
    width: 6rem;
    font-size: 4rem;
    line-height: 4rem;
  }

  .btn-vote {
    padding: 0 0 1rem;
    height: 6rem;
    width: 6rem;
  }

  .vote-text {
    padding: 1rem 0 0 0.5rem;
    font-size: 2.8rem;
    line-height: 2.8rem;
  }

  .show-vote-count {
    font-size: 5.5em;
  }


  #reset-button-a {
    margin: 0;
    bottom: 10rem;
  }

  #reset-button-b {
    margin: 0;
    top: 10rem;
  }

}


@media only screen and (min-width: 1400px) and (orientation: landscape)  {
  .container {
    margin: 0 auto;
    width: 1300px;
  }

  .poll-item {
    width: 470px;
    height: 470px;
  }

  .poll-middle {
    margin: 0 -16rem;
  }
  .fa-2x.fa-camera{
    font-size: 5em;
  }

  .choose-image + label {
    font-size: 1.5em;
  }

  .poll-middle-text{
    font-size: 5em;
  }
  #middle-text-a{
    bottom: 9rem;
  }
  #middle-text-b{
    top: 9rem;
  }
  .submit-btn {
    padding: 0 0 1.5rem;
    height: 8rem;
    width: 8rem;
    font-size: 5rem;
    line-height: 5rem;
  }

  .btn-vote {
    padding: 0 0 1rem;
    height: 8rem;
    width: 8rem;
  }

  .vote-text {
    padding: 1rem 0 0 0.8rem;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .show-vote-count {
    font-size: 7em;
  }

  #reset-button-a {
    margin: 0;
    bottom: 13rem;
  }

  #reset-button-b {
    margin: 0;
    top: 13rem;
  }

}





@media only screen and (min-width: 1900px) and (orientation: landscape)  {
  .container {
    margin: 0 auto;
    width: 1800px;
  }
  .poll-item {
    width: 650px;
    height: 650px;
  }

  .poll-middle {
    margin: 0 -22rem;
  }
  .fa-2x.fa-camera{
    font-size: 8em;
  }

  .choose-image + label {
    font-size: 2em;
  }
  .poll-middle-text{
    font-size: 8em;
  }
  #middle-text-a{
    bottom: 15rem;
  }
  #middle-text-b{
    top: 15rem;
  }
  .submit-btn {
    padding: 0 0 2rem;
    height: 11rem;
    width: 11rem;
    font-size: 7rem;
    line-height: 7rem;
  }

  .btn-vote {
    padding: 0 0 2rem;
    height: 11rem;
    width: 11rem;
    font-size: 4rem;
    line-height: 4rem;
  }

  .vote-text {
    padding: 1.5rem 0 0 01rem;
    font-size: 5rem;
    line-height: 5rem;
  }

  .show-vote-count {
    font-size: 9em;
  }

  .reset-button {
    padding: 0.9em 0 0 0.1em;
    width: 4em;
    height: 4em;
  }
  #reset-button-a {
    margin: 0;
    bottom: 18rem;
  }

  #reset-button-b {
    margin: 0;
    top: 18rem;
  }

}