// Place all the styles related to the polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
	text-align: center;
}

.poll_item_a {
	float: left;
	width: 50%;
	text-align: center;
}

.poll_item_a img {
    width: 300px;
	height: 300px;
}

.poll_item_b {
	float: right;
	width: 50%;
	text-align: center;
}

.poll_item_b img {
	width: 300px;
	height: 300px;
}

.poll_description {
    margin-top: 50px;
	display: block;
	width: 100%;
	text-align: center;
}

#votes_a {
	float: left;
	width: 50%;
	text-align: center;
}

#votes_b {
	float: left;
	width: 50%;
	text-align: center;
}

#share {
	width: 100%;
}

#social-links {
	width: 100%;
	text-align: center;
	margin: 1em;
}

#social-links i {
	color: #333333;
	padding: 0.5em;
	margin-right: 0.5em;
}